@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F2F2F2;
  --text: black;
  --btn: #445869;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fds {
  height: calc(100vh - 224px);
}

.active {
  background-color: rgba(68, 88, 105, 0.2);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px inset;
}