@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F2F2F2;
  --text: black;
  --btn: #445869;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}