.card {
    display: flex;
    flex-direction: row;
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
}

.card:hover {
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btnEdit {
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btnEdit:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width: 969px) {
    .card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}